
.playfairDisplay{
    font-family: 'PlayfairDisplay', sans-serif;
}

.dancingScript{
    font-family: 'DancingScript', sans-serif;
}

.upperCase{
    text-transform: uppercase;
}

.fontsmall{
 font-size: 25px;
 text-align: center;

}

.fontmedium{
    font-size: 35px;
}

.fontlarge{
    font-size: 70px;
}

.textCollorWhite{
    color: whitesmoke;
}


@media (max-width: 1000px) {
    .fontsmall{
        font-size: 15px;
       }
       
       .fontmedium{
           font-size: 25px;
       }
       
       .fontlarge{
           font-size: 50px;
       }
  }
  
  @media (max-width: 600px) {
    .fontsmall{
        font-size: 8px;
       }
       
       .fontmedium{
           font-size: 20px;
       }
       
       .fontlarge{
           font-size: 30px;
       }
  }

  @media (max-width: 400px) {
    .fontsmall{
        font-size: 6px;
       }
       
       .fontmedium{
           font-size: 14px;
       }
       
       .fontlarge{
           font-size: 20px;
       }
  }