
.playfairDisplay{
    font-family: 'PlayfairDisplay', sans-serif;
}

.dancingScript{
    font-family: 'DancingScript', sans-serif;
}

.caveat{
    font-family: 'Caveat', sans-serif;
}

.upperCase{
    text-transform: uppercase;
}

.fontsmall{
 font-size: 25px;
 text-align: center;
}

.fontmedium{
    font-size: 35px;
    text-align: center;
}

.fontlarge{
    font-size: 70px;
    text-align: center;
}

.textCollorWhite{
    color: black;
}


@media (max-width: 1000px) {
    .fontsmall{
        font-size: 35px;
       }
       
       .fontmedium{
           font-size: 45px;
       }
       
       .fontlarge{
           font-size: 65px;
       }
  }
  
  @media (max-width: 600px) {
    .fontsmall{
        font-size: 25px;
       }
       
       .fontmedium{
           font-size: 30px;
       }
       
       .fontlarge{
           font-size: 50px;
       }
  }

  @media (max-width: 400px) {
    .fontsmall{
        font-size: 20px;
       }
       
       .fontmedium{
           font-size: 25px;
       }
       
       .fontlarge{
           font-size: 40px;
       }
  }